/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header {
    background-color:white;
    padding: 20px 0;
    font-size:18px;

}

header .container {
    display: flex;
    justify-content: space-between;
    gap:20px;
    margin:0;
    padding:0;
}

nav ul {
    list-style-type: none;
    display:flex;

}

nav a {
    text-decoration:none;
    color:#6b7280;
    font-size:18px;
    
}

nav a:hover {
    color:#5A67D8;
}

.overview-hero{
    background-color:#E2E8F0;
    padding:40px 0;

}

.overview-hero .container {
    display:flex;
    gap:40px;
    align-items:center;
    
}
.overview-hero img {
    width:450px;
    border-radius:8px;
}


.learn-about h2 {
    font-size:24px;
    color: #48BB78;
    margin-top: 40px;

}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
    margin-top:20px;
}
.card {
    border:1px solid #bf8e11;
    border-radius:8px;
    overflow:hidden;
    background-color:white;
    box-shadow:0 2px 4px rgba(4, 58, 106, 0.15);
}

.card img {
    width:100%;
    height: auto;
}

.card-body h3 {
    font-size:20px;
    color:#48BB78;
}

.testing {
    background-color: #4a5568;
    color: white;
    padding:40px 0;
}

.testing .container {
    display:flex;
    gap:20px;
    align-items:center;
}

.testing .btn {
    background-color:#48BB78;
    padding:10px 20px;
    text-decoration:none;
    border-radius:4px;
}

.stories h2{
    color: #5A67D8;
    margin-top:40px;

}

.stories article {
    display:flex;
    gap:20px;
    margin:40px 0;
}

.stories img {
    width:300px;
    height:160px;
    border-radius:100%;
    object-fit: cover;

}
.article-body h3 {
    font-size: 18px;
}

.article-body p {
    color: #5A67D8;
    font-weight:bold;
}

.newsletter {
    background-color:#48BB78;
    color: white;
    padding:40px 0;
    text-align:center;
}

.newsletter form{
    display: flex;
    justify-content: center;
    gap:10px;
    margin-top:20px;

}

.newsletter input {
    padding:10px;
    border:none;
    border-radius:4px;
    width:300px;
}

.newsletter .btn {
    background-color:#5A67D8;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
}
footer {
    background-color:#4A5568;
    color:white;
    padding:20px 0;
    text-align:center;
    
}











